/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 4, 2023, 4:09:02 PM
    Author     : shreeyapradhan
*/
* {
    margin: 0;
    padding: 0;
    font-family: calibri; 
}

.logo {
    position: relative ;
    width: 100% ;
    height: 100vh;
    background: black;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-content: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;        
}

nav ul li a {
    text-decoration: none;
    color: palevioletred;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}

.detail {
    margin-left: 10%;
    margin-top: 5 %;
}

.detail h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

span {
    color: pink;
}
.detail p {
    color: white;
}

.detail a {
    background: pink;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-flex;
    margin: 30px 10px;
    border-radius: 5px;
}

.detail a:hover {
    color: palevioletred;
}
.image {
    position: absolute;
    top: 100px;
    right: 100px;
}
.footer {
    position: absolute;
    display: inline-flex;
    bottom: 10px;

}

.footer li a {
    background: pink;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 5px;
    border-radius: 5px;
}

.footer li a:hover {
    color: black;
}
